:root {
  body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  background-color: #1b1b1d;
  color: white;
}