.collection_header {
    display: flex;
    border: 1px solid;
    align-items: center;
    margin: 15px 0;

    .btn {
        height: 30px;
    }

    .editable {
        outline: 1px solid;
    }

    >button {
        padding: 10px;
        margin: 5px;
        outline: none;
        border: none;
    }
}