.bookCard {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 23%;
    margin: 0 1%;
    position: relative;

    .coverImg {
        transition: all .5s;

        &:hover {
            transform: scale(1.07);
        }
    }

}

.bookCommands {
    display: flex;
    flex-direction: row-reverse;

    >li {
        margin-right: 10px;
        list-style-type: none;

        >button {
            outline: none;
            border: none;
        }
    }

    .deleteBtn {
        background-color: #da2f2f;
    }

    .transferBtn {
        background-color: #436dc9;

    }
}




@media only screen and (max-width:768px) {
    .bookCard {
        flex-basis: 32%;
    }
}

@media only screen and (max-width:768px) {
    .bookCard {
        // flex-basis: 48%;
    }
}

@media only screen and (max-width:425px) {
    .bookCard {
        flex-basis: 100%;
    }
}