.books_container {
    display: flex;
    overflow: hidden;
    margin-left: 5%;

    .book_container {
        flex-basis: 25%;
        min-width: 250px;
        height: 350px;
    }

    .cover_img {
        margin-bottom: 5px;
        transition: all .5s;

        &:hover {
            transform: scale(1.07);
        }
    }

    
}