.collectionContainer {
    margin-top: 50px;
    width: 90%;
}

.carousel {
    position: relative;
    width: 100%;

    .arrows {
        width: 100%;
        position: absolute;
        top: 50%;

        >.prev,
        >.next {
            padding: 5px;
            position: absolute;
            list-style-type: none;
            transform: translateY(-50%);
            font-size: 3rem;
            cursor: pointer;
        }

        >.prev {
            left: 0;
        }

        >.next {
            right: 20px;
        }

    }
}

.booksContainer {
    width: 98%;
    display: flex;
    overflow: hidden;
    max-height: 350px;
    margin: auto;
}