.pagination_container {
    display: flex;
    justify-content: center;
    background-color: teal;

    .page {
        list-style-type: none;
        padding: 2px;
        border: 1px solid;
        background-color: olive;
    }

    .page_btn {
        font-size: 1.6rem;
        padding: 10px;

        &:active {
            // color: 
        }
    }
}