.CollectionPopUp::before {
    position: fixed;
    min-width: 100vw;
    height: 100vh;
    content: '';
    left: 0;
    top: 0;
    padding: 0;
    z-index: -1;
}

.CollectionPopUp {
    position: fixed;
    width: 60vw;
    color: #ffffff;
    height: 40vh;
    // color: white;
    background-color: #0a0202;
    border-radius: 7px;
    top: 30%;
    left: 20%;
    z-index: 100;
    display: flex;
    flex-direction: column;

    form,
    div {
        margin: auto;
    }

    form {

        select,
        input,
        button {
            height: 30px;
            border-radius: 5px;
            border: none;
            outline: none;
            margin-left: 10px;
        }

        select {
            width: 200px;
            margin-bottom: 20px;
        }
    }

    .createBtn {
        background-color: rgb(21, 197, 21);
        border-radius: 50%;
        font-size: 18px;
    }

    .openCreate {
        border: 1px solid;
        padding: 5px;
        box-shadow: 2px 2px 5px olive;
    }

    .closeBtn {
        position: absolute;
        color: rgb(247, 62, 62);
        right: 5%;
        top: 5%;
        font-size: 20px;
        cursor: pointer;
    }
}




@media only screen and (max-width: 600px) {
    .CollectionPopUp {
        width: 96vw;
        left: 2vw;
        font-size: 14px;

        >button {
            margin: 40px 20px;
        }
    }
}