.navigation {
  background: rgb(38, 39, 39);
  padding: 15px 0;
  font-weight: bold;
}

.linksContainer {
  display: flex;
  align-items: center;
  list-style: none;

  >li {
    margin-right: 28px;
    padding: 5px 10px;
    box-shadow: 1px 1px 3px 1px olive;
  }

  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
  width: 85%;
}


.link {
  text-decoration: none;
  transition: 100ms ease-in-out color;
  font-size: 20px;

  &:active {
    color: white;
  }

  &:visited {
    color: white;
  }

  &:hover {
    color: rgb(169, 242, 255);
  }
}