.bookCard {
    width: 100%;
    margin-bottom: 30px;
    height: 350px;
    max-height: 350px;

    .bookInfo {
        >h3 {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        >img {
            height: 200px;
            max-height: 200px;
        }

    }

    >button {
        background-color: blue;
        outline: none;
        border: none;
        color: #fff;
        padding: 5px 10px;
    }
}

.addBtn {
    font-size: 1.3rem;
    color: #fff;
    background-color: rgb(36, 206, 36);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
}