.bookCard {
    width: 100%;
    margin-bottom: 30px;
    height: 350px;
    max-height: 350px;

    img {
        height: 200px;
        max-height: 200px;
    }

    margin-bottom: 30px;
}

.addBtn {
    font-size: 1.3rem;
    color: #fff;
    background-color: rgb(36, 206, 36);
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
}